---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import "../../styles/spinner.scss";
---

<Layout>
    <Header />

    <section id="welcome">
        <div class="overlay"></div>
        <div class="bg-slides">
            <div
                class="bg-slide"
                style="background-image: url('/bg/machine-bg.jpg');"
            >
            </div>
            <div
                class="bg-slide"
                style="background-image: url('/bg/control-center.jpg');"
            >
            </div>
            <div
                class="bg-slide"
                style="background-image: url('/bg/excavator-action.jpg');"
            >
            </div>
            <div
                class="bg-slide"
                style="background-image: url('/bg/technology.jpg');"
            >
            </div>
            <div
                class="bg-slide"
                style="background-image: url('/bg/train.jpg');"
            >
            </div>
        </div>

        <h2 class="section-title lora" data-i18n="welcome.title">
            GRP Ingeniería
        </h2>
        <p class="section-subtitle" data-i18n="welcome.subtitle">
            Expertos en gestión contractual para proyectos de Metro,
            Ferrocarriles, Concesiones e Infraestructura. Maximizamos el éxito
            de tus proyectos con enfoque estratégico independiente.
        </p>
        <div class="links">
            <a
                href="#offering"
                data-i18n="welcome.buttonServices"
                class="flip-in-hor-bottom-d600ms with-arrow"
                >Conocer Servicios <span>→</span></a
            >
            <a
                href="#contact"
                data-i18n="welcome.buttonContact"
                class="flip-in-hor-bottom-d800ms">Solicitar Consulta</a
            >
        </div>
    </section>

    <section id="offering">
        <h2 class="section-title text-black lora" data-i18n="offering.title">
            Qué Ofrecemos
        </h2>
        <p class="section-subtitle" data-i18n="offering.subtitle">
            Una opinión técnica contractual independiente, con apoyo a la
            gestión en la dirección de proyectos, orientado a mandantes y
            contratistas, cuya finalidad es asegurar el cumplimiento del
            contrato en costo y plazo, y contar con información oportuna de
            desviaciones para la toma de decisiones.
        </p>

        <div class="offers">
            <article class="offer">
                <h3 class="text-black lora" data-i18n="offering.focus.title">
                    Nuestro Enfoque
                </h3>
                <p data-i18n="offering.focus.infoP1">
                    Proporcionamos asesorías técnicas especializadas que
                    maximizan el éxito de proyectos, mediante un enfoque
                    estratégico de los problemas que pueden venir por la toma de
                    decisiones (análisis de pro y contra con sus riesgos).
                </p>
                <p data-i18n="offering.focus.infoP2">
                    Nos especializamos en la prevención de reclamaciones
                    (claims) y en la gestión eficaz del arbitraje, estructurando
                    el trabajo de manera estratégica para alcanzar los objetivos
                    del proyecto, optimizar los recursos disponibles y mitigar
                    los riesgos.
                </p>
                <p data-i18n="offering.focus.infoP3">
                    Además, administramos la relación técnica entre mandante y
                    contratista, con la capacidad de liderar proyectos complejos
                    y desafiantes.
                </p>
            </article>

            <article class="offer">
                <h3 class="text-black lora" data-i18n="offering.area.title">
                    Nuestra Área de Gestión
                </h3>
                <ul>
                    <li>
                        <p data-i18n="offering.area.list.item1.info">
                            <span data-i18n="offering.area.list.item1.span"
                                >Metro:</span
                            >
                            Líneas de transporte subterráneo y elevado
                        </p>
                    </li>
                    <li>
                        <p data-i18n="offering.area.list.item2.info">
                            <span data-i18n="offering.area.list.item2.span"
                                >Ferrocarriles:</span
                            >
                            Sistemas de transporte ferroviario urbano e interurbano
                        </p>
                    </li>
                    <li>
                        <p data-i18n="offering.area.list.item3.info">
                            <span data-i18n="offering.area.list.item3.span"
                                >Concesiones:</span
                            >
                            Proyectos bajo modalidad de concesión
                        </p>
                    </li>
                    <li>
                        <p data-i18n="offering.area.list.item4.info">
                            <span data-i18n="offering.area.list.item4.span"
                                >Infraestructura:</span
                            >
                            Construcción y modernización de obras
                        </p>
                    </li>
                </ul>
            </article>
        </div>
        <div class="grid">
            <article>
                <img src="./icons/focus.png" alt="enfoque estrategico" />
                <h4 data-i18n="offering.grid.item1.title">
                    Enfoque Estratégico
                </h4>
                <p data-i18n="offering.grid.item1.info">
                    Análisis integral desde la perspectiva contractual y técnica
                    para optimizar resultados del proyecto.
                </p>
            </article>
            <article>
                <img src="./icons/eye.png" alt="visión independiente" />
                <h4 data-i18n="offering.grid.item2.title">
                    Visión Independiente
                </h4>
                <p data-i18n="offering.grid.item2.info">
                    Asesoría objetiva e imparcial que prioriza los intereses del
                    cliente y el éxito del proyecto.
                </p>
            </article>
            <article>
                <img src="./icons/medal.png" alt="experiencia comprobada" />
                <h4 data-i18n="offering.grid.item3.title">
                    Experiencia Comprobada
                </h4>
                <p data-i18n="offering.grid.item3.info">
                    Más de 15 años gestionando proyectos complejos de Metro,
                    Ferrocarriles, Concesiones e Infraestructura.
                </p>
            </article>
            <article>
                <img src="./icons/risk.png" alt="evaluación de riesgos" />
                <h4 data-i18n="offering.grid.item4.title">
                    Evaluación de Riesgos
                </h4>
                <p data-i18n="offering.grid.item4.info">
                    Identificación temprana de riesgos contractuales para evitar
                    sobrecostos y retrasos.
                </p>
            </article>
        </div>
    </section>

    <section id="project-cycle">
        <h2
            class="section-title text-black lora"
            data-i18n="project-cycle.title"
        >
            Acompañamiento experto en Todo el Ciclo del Proyecto
        </h2>
        <p class="section-subtitle" data-i18n="project-cycle.subtitle">
            Nuestra asesoría contempla las etapas de licitación y construcción,
            incluyendo la prevención de reclamaciones y arbitrajes. Contamos con
            experiencia en el gerenciamiento integral del proyecto para el
            mandante, bajo un enfo que OPM (Owner Project Management).
        </p>
        <div class="grid">
            <article>
                <img src="./icons/licitacion.png" alt="licitaciones" />
                <h4 data-i18n="project-cycle.grid.card1.title">
                    Proceso de Licitación
                </h4>
                <p data-i18n="project-cycle.grid.card1.subtitle">
                    Análisis integral para optimizar la participación en
                    licitaciones y maximizar probabilidades de éxito.
                </p>
                <ul>
                    <li data-i18n="project-cycle.grid.card1.list.item1">
                        Preparación de documentos técnicos de licitación y la
                        coordinacion de estos
                    </li>
                    <li data-i18n="project-cycle.grid.card1.list.item2">
                        Definición de las distintas alternativas para la
                        estrategia de licitación, análisis de mercado de
                        posibles licitantes y tamaños de contrato.
                    </li>
                    <li data-i18n="project-cycle.grid.card1.list.item3">
                        Contamos con especialidta legal en contratos de obras
                        públicas, HSEQ y experto en Primavera P6, entre otros
                    </li>
                    <li data-i18n="project-cycle.grid.card1.list.item4">
                        Manejo de stakeholders, autoridades y relaciones con la
                        comunidad
                    </li>
                </ul>
            </article>

            <article>
                <img src="./icons/budget.png" alt="presupuesto" />
                <h4 data-i18n="project-cycle.grid.card2.title">Presupuestos</h4>
                <p data-i18n="project-cycle.grid.card2.subtitle"></p>
                <ul>
                    <li data-i18n="project-cycle.grid.card2.list.item1">
                        Estimaciones de CAPEX y OPEX en distintas etapas de
                        inversión, contingencia y escalamiento, metodología AACE
                        clase 5 a 1
                    </li>
                    <li data-i18n="project-cycle.grid.card2.list.item2">
                        Elaboración presupuesto referencial con sus respaldos,
                        análisis y Precios Unitarios y Gastos Generales
                    </li>
                    <li data-i18n="project-cycle.grid.card2.list.item3">
                        Preparación programa y rendimientos en MS Project o
                        Primavera P6
                    </li>
                    <li data-i18n="project-cycle.grid.card2.list.item4">
                        Metodología constructiva proyectos complejos
                    </li>
                    <li data-i18n="project-cycle.grid.card2.list.item5">
                        Mejora secuencias constructivas
                    </li>
                    <li data-i18n="project-cycle.grid.card2.list.item6">
                        Determinación cuadrillas, maquinaria y equipos
                        necesarios
                    </li>
                    <li data-i18n="project-cycle.grid.card2.list.item7">
                        Matriz de permisos
                    </li>
                </ul>
            </article>

            <article>
                <img
                    src="./icons/construction.png"
                    alt="direccion de proyectos"
                />
                <h4 data-i18n="project-cycle.grid.card3.title">
                    Dirección Proyectos
                </h4>
                <p data-i18n="project-cycle.grid.card3.subtitle">
                    Gestión proactiva durante la ejecución del proyecto para
                    asegurar cumplimiento de objetivos.
                </p>
                <ul>
                    <li data-i18n="project-cycle.grid.card3.list.item1">
                        Gerenciamiento del proyecto para el mandante, OPM (Owner
                        Project Management)
                    </li>
                    <li data-i18n="project-cycle.grid.card3.list.item2">
                        Conformación equipo de obra y apoyo en la seleccion y
                        contratación de personal
                    </li>
                    <li data-i18n="project-cycle.grid.card3.list.item3">
                        Apoyo técnico en la definición y características de los
                        equipos
                    </li>
                    <li data-i18n="project-cycle.grid.card3.list.item4">
                        Planificación y metodología de control para disponer de
                        una obra eficiente
                    </li>
                    <li data-i18n="project-cycle.grid.card3.list.item5">
                        Mejoras en el ciclo de construcción y productividad
                    </li>
                    <li data-i18n="project-cycle.grid.card3.list.item6">
                        Manejo comunicaciones de obra
                    </li>
                </ul>
            </article>

            <article>
                <img src="./icons/peritaje.png" alt="gestión contractual" />
                <h4 data-i18n="project-cycle.grid.card4.title">
                    Gestión Contractual
                </h4>
                <p data-i18n="project-cycle.grid.card4.subtitle">
                    Gestión proactiva durante la ejecución del proyecto para
                    asegurar cumplimiento de objetivos.
                </p>
                <ul>
                    <li data-i18n="project-cycle.grid.card4.list.item1">
                        Análisis de brechas en el estudio con una mirada
                        contractual que permita evaluar los riesgos y determinar
                        mitigaciones
                    </li>
                    <li data-i18n="project-cycle.grid.card4.list.item2">
                        Evaluación y programa impactado, a medición de pérdida
                        de productividad mediante metodología AACE y SCL
                    </li>
                    <li data-i18n="project-cycle.grid.card4.list.item3">
                        Generación de documentación para respaldo de
                        reclamaciones con apoyo al servicio de abogado experto
                        en el tema
                    </li>
                    <li data-i18n="project-cycle.grid.card4.list.item4">
                        Revisión de posibles reclamaciones de terceras partes
                        respecto al presupuesto y recursos
                    </li>
                    <li data-i18n="project-cycle.grid.card4.list.item5">
                        Informes periciales y de parte
                    </li>
                </ul>
            </article>
        </div>
        <a
            href="#contact"
            data-i18n="project-cycle.buttonContact"
            class="heartbeat"
            >Consulta
        </a>
        <p data-i18n="project-cycle.info">
            ¿Necesita asesoría específica para su proyecto? Contacte con
            nuestros especialistas.
        </p>
    </section>

    <section id="team">
        <h2 class="section-title text-black lora" data-i18n="team.title">
            Nuestro Equipo
        </h2>
        <p class="section-subtitle" data-i18n="team.subtitle">
            Contamos con un equipo asociado experto en programación, legal,
            medioambiente y evaluación de daños.
        </p>

        <div class="box">
            <h4 class="text-black lora" data-i18n="team.box.title">
                Nuestra Filosofía de Trabajo
            </h4>
            <p data-i18n="team.box.subtitle">
                Creemos en la importancia de una gestión contractual proactiva y
                estratégica. Nuestro enfoque se basa en la prevención de
                riesgos, la comunicación transparente y la búsqueda constante de
                soluciones que maximicen el valor para nuestros clientes.
            </p>
        </div>
    </section>

    <section id="contact">
        <h1 class="text-black lora" data-i18n="contact.title">Contacto</h1>
        <p class="section-subtitle" data-i18n="contact.subtitle1">
            ¿Necesitas asesoría especializada para tu proyecto de
            infraestructura?
        </p>
        <p class="section-subtitle" data-i18n="contact.subtitle2">
            Contáctanos para una consulta inicial sin compromiso.
        </p>

        <div class="container">
            <div class="info">
                <h3 class="text-black" data-i18n="contact.contactInfo.title">
                    Información de contacto
                </h3>
                <article>
                    <img src="/icons/email.png" alt="contact email" />
                    <div class="data">
                        <h4
                            data-i18n="contact.contactInfo.infoList.item1.title"
                        >
                            Correo Electrónico
                        </h4>
                        <a
                            href="mailto:contacto@grpingenieria.cl"
                            data-i18n="contact.contactInfo.infoList.item1.data"
                        >
                            contacto@grpingenieria.cl
                        </a>
                        <p data-i18n="contact.contactInfo.infoList.item1.extra">
                            Respuesta en 24 horas
                        </p>
                    </div>
                </article>
                <article>
                    <img src="/icons/phone.png" alt="contact phone" />
                    <div class="data">
                        <h4
                            data-i18n="contact.contactInfo.infoList.item2.title"
                        >
                            Teléfono
                        </h4>
                        <a href="tel:+56964441479">+56964441479</a>
                        <p data-i18n="contact.contactInfo.infoList.item2.extra">
                            Lunes a Viernes 9:00 - 18:00
                        </p>
                    </div>
                </article>
                <!-- <article>
                    <img src="/icons/location.png" alt="contact location" />
                    <div class="data">
                        <h4
                            data-i18n="contact.contactInfo.infoList.item3.title"
                        >
                            Oficina Principal
                        </h4>
                        <p data-i18n="contact.contactInfo.infoList.item3.data">
                            Santiago, Chile
                        </p>
                        <p data-i18n="contact.contactInfo.infoList.item3.extra">
                            Reuniones presenciales con cita previa
                        </p>
                    </div>
                </article> -->
                <article>
                    <img src="/icons/clock.png" alt="consulta contact" />
                    <div class="data">
                        <h4
                            data-i18n="contact.contactInfo.infoList.item4.title"
                        >
                            Consulta Inicial Sin Compromiso
                        </h4>
                        <p data-i18n="contact.contactInfo.infoList.item4.extra">
                            Ofrecemos una primera consulta sin costo para
                            evaluar su proyecto y definir la mejor estrategia de
                            asesoría técnica.
                        </p>
                    </div>
                </article>
            </div>

            <form class="form" id="contact-form">
                <h3 data-i18n="contact.contactForm.title">
                    Solicitar Consulta
                </h3>
                <div class="input-group">
                    <div class="input-field">
                        <label
                            class="required"
                            for="name"
                            data-i18n="contact.contactForm.name.label"
                            >Nombre Completo</label
                        >
                        <input
                            type="text"
                            id="name"
                            name="name"
                            placeholder="Nombre completo"
                            data-i18n-placeholder="contact.contactForm.name.placeholder"
                            required
                        />
                    </div>
                    <div class="input-field">
                        <label
                            class="required"
                            for="email"
                            data-i18n="contact.contactForm.email.label"
                            >Correo Electrónico</label
                        >
                        <input
                            id="email"
                            type="text"
                            name="email"
                            inputmode="email"
                            placeholder="ejemplo@empresa.com"
                            data-i18n-placeholder="contact.contactForm.email.placeholder"
                            required
                        />
                    </div>
                </div>
                <div class="input-group">
                    <div class="input-field">
                        <label
                            for="company"
                            data-i18n="contact.contactForm.company.label"
                            >Empresa/Organización</label
                        >
                        <input
                            type="text"
                            id="company"
                            placeholder="Nombre de la empresa"
                            name="company"
                            data-i18n-placeholder="contact.contactForm.company.placeholder"
                        />
                    </div>
                    <div class="input-field">
                        <label
                            for="phone"
                            data-i18n="contact.contactForm.phone.label"
                            >Teléfono</label
                        >
                        <input
                            type="text"
                            id="phone"
                            inputmode="tel"
                            placeholder="+56 9 1234 5678"
                            name="phone"
                        />
                    </div>
                </div>
                <div class="input-field">
                    <label
                        for="project"
                        data-i18n="contact.contactForm.project.label"
                        >Tipo de Proyecto</label
                    >
                    <input
                        type="text"
                        id="project"
                        placeholder="Metro, Ferrocarril, Concesión, etc."
                        name="project"
                        data-i18n-placeholder="contact.contactForm.project.placeholder"
                    />
                </div>
                <div class="input-field">
                    <label
                        for="message"
                        data-i18n="contact.contactForm.message.label"
                        >Mensaje</label
                    >
                    <textarea
                        rows="5"
                        id="message"
                        name="message"
                        placeholder="Describe brevemente tu proyecto y el tipo de asesoría que necesitas..."
                        data-i18n-placeholder="contact.contactForm.message.placeholder"
                    ></textarea>
                </div>
                <button
                    type="submit"
                    id="submit-btn"
                    data-i18n="contact.contactForm.submitButton"
                    >Enviar Consulta</button
                >
            </form>
        </div>
    </section>

    <footer>
        <div class="grid">
            <div class="col">
                <a href="#welcome"
                    ><img
                        src="./logo/main-logo-white.png"
                        alt="GRP Ingeniería Logo"
                    /></a
                >
                <p data-i18n="footer.col1.subtitle1">
                    Especialistas en asesorías técnicas para obras de
                    infraestructura.
                </p>
                <p data-i18n="footer.col1.subtitle2">
                    Experiencia comprobada en Metro, Ferrocarriles y
                    Concesiones.
                </p>
            </div>
            <div class="col">
                <h4 class="col-title" data-i18n="footer.col2.title">
                    Contacto
                </h4>
                <a href="mailto:contacto@grpingenieria.cl"
                    >contacto@grpingenieria.cl</a
                >
                <a href="tel:+56964441479">+56 9 6444 1479</a>
                <a href="" data-i18n="footer.col2.city">Santiago, Chile</a>
            </div>
            <div class="col">
                <h4 class="col-title" data-i18n="footer.col3.title">
                    Servicios
                </h4>
                <a href="#offering" data-i18n="offering.grid.item1.title"
                    >Qué Ofrecemos</a
                >
                <a href="#project-cycle" data-i18n="offering.grid.item2.title"
                    >Ciclo del Proyecto</a
                >
                <a href="#contact" data-i18n="offering.grid.item3.title"
                    >Contacto</a
                >
            </div>
        </div>
        <p data-i18n="footer.copywrite">
            &copy; 2025 GRP Ingeniería. Todos los derechos reservados.
        </p>
         <p>
            Made with 🤍 by <a href="http://chilisites.com" target="_blank" rel="noopener noreferrer">🌶️Chilisites</a>
        </p>
    </footer>

    <!-- links dentro de la pagina con smooth behavior -->
    <script is:inline>
        document.addEventListener("DOMContentLoaded", () => {
            const allLinks = document.querySelectorAll("a[href^='#']");
            // console.log(allLinks);

            allLinks.forEach((link) => {
                link.addEventListener("click", (ev) => {
                    const targetId = link.getAttribute("href")?.substring(1);
                    const targetEl = document.getElementById(targetId);

                    if (targetEl) {
                        ev.preventDefault();
                        targetEl.scrollIntoView({ behavior: "smooth" });
                        closeMenu();
                    }
                });
            });
        });
    </script>

    <!-- Activador de animaciones -->
    <script is:inline>
        function isInViewport(elem) {
            const distance = elem.getBoundingClientRect();
            return (
                distance.top <
                    (window.innerHeight ||
                        document.documentElement.clientHeight) &&
                distance.bottom > 0
            );
        }

        // Seleccionamos todos los <article> dentro de la sección offering
        const offers = document.querySelectorAll(
            "section#offering div.grid article"
        );

        const cycles = document.querySelectorAll(
            "section#project-cycle div.grid article"
        );

        const filosophyBox = document.querySelector("section#team div.box");

        const contactData = document.querySelectorAll(
            "section#contact div.container div.info article"
        );

        const footerLogo = document.querySelector(
            "footer div.grid div.col a img"
        );

        function checkArticles() {
            offers.forEach((article) => {
                if (isInViewport(article)) {
                    article.classList.add("flip-in-hor-bottom-dur1200ms");
                }
            });

            cycles.forEach((article) => {
                if (isInViewport(article)) {
                    article.classList.add("slide-in-left");
                }
            });

            if (isInViewport(filosophyBox)) {
                filosophyBox.classList.add("scale-in-center");
            }

            contactData.forEach((article) => {
                if (isInViewport(article)) {
                    article.classList.add("flip-in-hor-bottom-dur800ms");
                }
            });

            if (isInViewport(footerLogo)) {
                footerLogo.classList.add("scale-in-hor-left");
            }
        }

        // Ejecutar al cargar la página
        window.addEventListener("load", checkArticles);
        // Ejecutar en cada scroll
        window.addEventListener("scroll", checkArticles);
    </script>

    <!-- form handler -->
    <script is:inline>
        document
            .getElementById("contact-form")
            .addEventListener("submit", async (event) => {
                event.preventDefault();
                const form = event.target;
                const btn = document.getElementById("submit-btn");
                const originalText = btn.textContent;

                btn.disabled = true;
                btn.innerHTML = `<span class="spinner"></span> Enviando...`;

                try {
                    const formData = new FormData(form);
                    const response = await fetch("/api/contact-handler", {
                        method: "POST",
                        body: formData,
                    });

                    const result = await response.json();

                    if (result.success) {
                        alert("Consulta enviada con éxito. ¡Muchas Gracias!");
                        form.reset();
                    } else {
                        alert(
                            "Hubo un error: " + (result.error || "Desconocido")
                        );
                    }
                } catch (error) {
                    console.error(error);
                    alert("Error de conexión");
                }

                btn.disabled = false;
                btn.textContent = originalText;
            });
    </script>
</Layout>
