@use "sass:color";

// variables
$color-bg: #fafafa;
$color-text: #1f232e;
$color-text-gray: #677083;
$color-white: #fff;
$color-blue: #456bc4;
$color-gray: #ecf0f9;
$color-light-blue: #ecf0f9;
$color-green: #f0fcf4;
$color-light-gray: #f0f2f7;

$color-bg-gray: #edf0f5;
$color-bg-light-blue: #eff6ff;
$color-bg-orange: #fef7ed;
$color-bg-green: #f0fdf4;

// mixins
@mixin desktop {
    @media (min-width: 1024px) {
        @content;
    }
}

section {
    padding: 40px 20px;
}

h1 {
    font-size: 2rem;

}

.section-title {
    text-align: center;
    margin-top: 0;
}

.section-subtitle {
    text-align: center;
}

.text-black {
    color: $color-text;
}

.lora {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

header {
    height: 60px;
    display: flex;
    align-items: center;
    a {
        img {
            width: 140px;
        }
    }
}

section#welcome {
    background-image: url("/bg/machine-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding: 110px 40px;
    position: relative;

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }

    h2.section-title {
        position: relative;
        z-index: 2;
    }

    p.section-subtitle {
        margin: 0;
        z-index: 2;
        position: relative;
        max-width: 700px;
        justify-self: center;
    }

    .links {
        justify-self: center;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        gap: 14px;
        width: 100%;
        align-items: center;

        a {
            color: white;
            text-decoration: none;
            border: 1px solid white;
            border-radius: 6px;
            padding: 0.6rem 2.2rem;
            width: 90%;
            max-width: 550px;
            text-align: center;
            z-index: 2;

            &.with-arrow {
                & > span {
                    transition: transform 0.5s ease;
                    display: inline-block;
                }

                &:hover > span {
                    transform: translateX(10px);
                }
            }

            &:nth-child(1) {
                border-color: $color-blue;
                background-color: $color-blue;
            }
        }

        @include desktop {
            flex-direction: row;
            gap: 16px;
        }
    }

    @include desktop {
        height: 240px;
        padding: 140px 40px;

        h2 {
            font-size: 2.5rem;
        }

        .section-subtitle {
            max-width: 700px;
        }
        .links {
            max-width: 500px;
            margin-top: 40px;
        }
    }
}

section#offering {
    .offers {
        padding-top: 20px;
        .offer {
            &:last-child {
                margin-top: 35px;
            }
            ul {
                padding-left: 16px;
                li {
                    &::marker {
                        color: $color-blue;
                    }
                    span {
                        font-weight: bold;
                        color: $color-text;
                    }
                }
            }
        }
    }

    .grid {
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
        justify-content: center;
        margin-top: 45px;

        article {
            text-align: center;
            padding: 20px 50px;
            border: 2px solid $color-gray;
            background-color: $color-white;
            border-radius: 8px;
            cursor: pointer;
            transition: transform 0.3s ease;
            max-width: 600px;

            &:hover {
                transform: translateY(-4px);
            }

            img {
                height: 20px;
                background-color: $color-gray;
                padding: 10px;
                width: 20px;
                object-fit: contain;
                border-radius: 6px;
            }

            h4 {
                margin: 14px 0 10px 0;
                color: $color-text;
            }
        }
    }

    @include desktop {
        justify-items: center;

        p.section-subtitle {
            max-width: 800px;
        }

        .offers {
            display: flex;
            width: 800px;
            gap: 50px;
            justify-content: center;

            .offer {
                &:first-child {
                    width: 50%;
                }

                &:nth-child(2) {
                    width: 40%;
                    margin-top: 0;
                }
            }
        }

        .grid {
            flex-direction: row;
            align-items: stretch;
            width: min(900px, 100%);
            gap: 0px;
            margin-top: 40px;

            article {
                width: 300px;
                margin: 0 10px;
                padding: 20px 20px;
            }
        }
    }
}

section#project-cycle {
    justify-items: center;
    text-align: center;

    p.section-subtitle {
        max-width: 800px;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 30px;
        align-items: center;
        justify-content: center;
        margin: 60px 0 40px 0;

        article {
            text-align: start;
            padding: 20px 30px 20px 20px;
            // border: 2px solid $color-gray;
            border-radius: 8px;
            cursor: pointer;
            transition: transform 0.3s ease;
            width: min(600px, 100%);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            box-sizing: border-box;

            &:hover {
                transform: translateY(-4px);
            }

            img {
                height: 20px;
                background-color: $color-gray;
                padding: 10px;
                width: 20px;
                object-fit: contain;
                border-radius: 6px;
            }

            h4 {
                margin: 14px 0 0px 0;
                width: 100%;
                color: $color-text;
            }

            ul {
                padding-inline-start: 16px;
                list-style-type: none;
                padding: 0;

                li {
                    position: relative;
                    padding-left: 24px;
                    margin-bottom: 8px;
                    color: $color-text;

                    &:before {
                        content: "";
                        display: inline-block;
                        position: absolute;
                        left: 0;
                        top: 2px;
                        width: 12px;
                        height: 12px;
                        background-image: url("/icons/achievement.png");
                        background-size: contain;
                        background-repeat: no-repeat;
                        color: $color-text;
                    }
                }
            }

            &:nth-child(1) {
                background-color: $color-bg-light-blue;
                border: 1px solid
                    color.adjust($color-bg-light-blue, $lightness: -10%);
            }

            &:nth-child(2) {
                background-color: $color-bg-orange;
                border: 1px solid
                    color.adjust($color-bg-orange, $lightness: -10%);
            }

            &:nth-child(3) {
                background-color: $color-bg-green;
                border: 1px solid
                    color.adjust($color-bg-green, $lightness: -10%);
            }
        }
    }

    & > a {
        display: inline-block;
        margin: 0 auto;
        text-align: center;
        align-content: center;
        text-decoration: none;
        color: $color-blue;
        border: 1px solid $color-blue;
        padding: 5px 20px;
        border-radius: 15px;
        flex-wrap: wrap;
        max-width: 250px;
    }

    & > p {
        text-align: center;
    }

    @include desktop {
        .grid {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto;
            max-width: 1200px;
            align-items: stretch;
        }
    }
}

section#team {
    justify-items: anchor-center;
    .box {
        padding: 10px 30px;
        border: 1px solid color.adjust($color-light-gray, $lightness: -10%);
        border-radius: 8px;
        background-color: $color-light-gray;
        justify-items: center;
        text-align: center;
        max-width: 700px;
        margin-top: 40px;

        p {
            width: 100%;
            max-width: 660px;
        }
    }

    @include desktop {
        .box {
            width: 100%;
            max-width: 780px;
        }
    }
}

section#contact {
    p {
        margin: 6px 0;
    }
    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 1000px;
        justify-self: center;

        @include desktop {
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-top: 30px;
            gap: 20px;

            .info {
                width: 45%;
            }

            .form {
                width: 55%;
            }
        }

        .info {
            article {
                display: flex;
                align-items: center;
                background-color: $color-white;
                margin-bottom: 25px;
                padding: 24px;
                border-radius: 8px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

                &:last-child {
                    box-shadow: none;
                    background-color: $color-bg-gray;
                    border: 1px solid
                        color.adjust($color-bg-gray, $lightness: -10%);
                }

                & > img {
                    width: auto;
                    height: 40px;
                    padding: 12px 15px 12px 0;
                }

                @include desktop {
                    & > img {
                        width: auto;
                        height: 40px;
                        padding: 12px 20px 12px 0;
                    }
                }

                .data {
                    display: flex;
                    flex-direction: column;
                    width: 100%;

                    h4 {
                        margin: 0 0 12px 0;
                        color: $color-text;
                    }

                    p,
                    a {
                        margin: 0 0 6px 0;
                        color: $color-text;
                        text-decoration: none;
                        &:last-child {
                            margin-bottom: 0;
                            color: $color-text-gray;
                        }
                    }
                }
            }
        }

        form.form {
            background-color: $color-white;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            padding: 24px;
            border-radius: 8px;
            color: $color-text;

            h3 {
                margin-top: 0;
            }

            .input-group {
                display: flex;
                flex-direction: column;
            }
            .input-field {
                display: flex;
                flex-direction: column;
                margin-bottom: 20px;

                label {
                    margin-bottom: 8px;

                    &.required::after {
                        content: " *";
                        color: red;
                    }
                }

                input,
                textarea {
                    padding: 10px;
                    border-radius: 6px;
                    border: 1px solid $color-gray;
                    background-color: $color-bg;
                    font-family: "Inter", sans-serif;

                    &::placeholder {
                        font-family: "Inter", sans-serif;
                    }
                }
            }
            button[type="submit"] {
                background-color: $color-blue;
                color: $color-white;
                padding: 12px 20px;
                border: none;
                border-radius: 6px;
                width: 100%;
                cursor: pointer;
                transition: background-color 0.3s ease;

                &:hover {
                    background-color: color.adjust(
                        $color-blue,
                        $lightness: -10%
                    );
                }
            }
        }
    }

    @include desktop {
        justify-items: center;
    }
}

footer {
    background-color: $color-blue;
    color: $color-white;
    width: 100vw;

    .grid {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px 40px;
        gap: 30px;
        justify-self: center;
        max-width: 1300px;

        @include desktop {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 60px;
        }

        .col {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            img {
                margin-bottom: 10px;
                width: 180px;
            }

            p {
                text-align: flex-start;
                margin: 5px;
                font-weight: 200;
            }

            h4.col-title {
                margin: 0 0 12px 0;
                font-weight: bold;
            }

            a {
                color: $color-white;
                text-decoration: none;
                margin-bottom: 6px;
                transition: color 0.3s ease;
                font-weight: 200;

                &:hover {
                    color: color.adjust($color-white, $lightness: -10%);
                }
            }
        }
    }

    & > p {
        justify-self: center;
        margin: 0;
        padding: 20px 0;
        text-align: center;
        font-weight: 200;
        max-width: 400px;

        @include desktop {
            max-width: 500px;
        }
        &::before {
            content: "";
            display: block;
            width: min(90%, 1000px);
            height: 1px;
            background-color: rgba(
                color.adjust($color-white, $saturation: -30%),
                0.5
            );
            margin: 0 auto;
            position: relative;
            top: -24px;

            @include desktop {
                width: min(90vw, 1050px);
                left: -55%;
            }
        }
    }
}
